# Node
NODE_ENV=test

# Server
PORT=4000

# Hashing
HASHING_SALT=10
HASHING_PEPPER="test"

# Cors
ALLOWED_ORIGIN=none

# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/database?schema=public"
